
/*------------------------------------*\
    #GLOBAL PAGE STYLES
\*------------------------------------*/

.site-wrapper {
    position: relative;
    overflow: hidden;
}

main.site-content {
    @include clearfix;
    // Yes, I know there are issues in IE11.
}

.content-container {

    > * {
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - #{map-get($grid-container-padding, small)});

        @include breakpoint(medium) {
            width: calc(100% - #{map-get($grid-container-padding, medium)});
        }

        max-width: calc(#{$content-width} - #{map-get($grid-container-padding, medium)});
    }

    > .alignwide {
        max-width: calc(#{$global-width} - #{map-get($grid-container-padding, medium)});
    }

    > .alignfull {
        width: 100%;
        max-width: 100%;
    }

    > ul,
    > ol {

        li {
            margin-left: 1.25em;

            li {
                margin-left: 0;
            }

        }

    }

}



header.article-header {
    margin-top: rem-calc(30);

    @include breakpoint(medium) {
        margin-top: rem-calc(60);
    }

    @include breakpoint(large) {
        margin-top: rem-calc(90);
    }
}
