
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

.no-wrap {
    white-space: nowrap;
}

.no-mb {
    margin-bottom: 0 !important;
}

a.no-underline {
    text-decoration: none;
}

@include breakpoint(medium) {
    ul:not(.products),
    ol:not(.products) {
        &.columns-2,
        &.columns-3 {
            column-gap: map-get($grid-margin-gutters, medium);
        }
        &.columns-2 {
            column-count: 2;
        }
        &.columns-3 {
            column-count: 3;
        }
    }
}

ol.alpha {
    list-style-type: lower-alpha;
}

a {
    transition: color $global-transition-speed ease-out, background-color $global-transition-speed ease-out;
}

.entry-content {
    h2, .h2 {
        margin-top: 1.9em;
    }
    h3, .h3 {
        margin-top: 1.7em;
    }
    h4, .h4 {
        margin-top: 1.5em;
    }
    h5, .h5 {
        margin-top: 1.3em;
    }
    h6, .h6 {
        margin-top: 1.1em;
    }
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    a {
        color: $header-color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $anchor-color-hover;
            text-decoration: $anchor-text-decoration-hover;
        }

    }
}
